body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Navigation */
nav {
  background-color: #4caf50;
  color: #ffffff;
  padding: 0px 0;
  height: 80px;
  display: flex;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffa000;
}

.nav_container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
}